<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Latitudes and Lagers</title>

  <link rel='icon' href='favicon.ico' type='image/x-icon'/ >

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>


<body id="webpage">


    <div class="container-fluid">
      <div class="col-md-12">
        <div class="row mt-2">
          <div class="col-md-11">

          </div>
          <div class="col-md-1">
            <form class="form-inline">
              <button id="button1" onclick="window.location.href='/map'" class="btn btn-sm btn-outline-secondary btn-primary" type="button"><strong>Enter</strong></button>
            </form>
          </div>
          <!-- <div class="col-md-1">
            <form class="form-inline">
              <button id="button2" onclick="window.location.href='/explore'" class="btn btn-sm btn-outline-secondary btn-primary" type="button"><strong>Explore Dashboard</strong></button>
            </form>
          </div> -->
          <!-- <div class="col-md-1">
            <form class="form-inline">
              <button id="button3" onclick="window.location.href='/data'" class="btn btn-sm btn-outline-secondary btn-primary" type="button"><strong>View our API</strong></button>
            </form>
          </div> -->
        </div>
      </div>
    </div>


  <!--Graph and Description-->


</body>

</html>
