* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

.btn {
  background:darkgoldenrod  ;
}

/*The footer is positioned at the bottom of the page  */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color:black;
  min-height: 100px;
  background: darkgoldenrod;
} 

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: darkgoldenrod;
}

.navbar {
  padding: 5px;
  margin: 0;
  background:darkgoldenrod;
}

.navbar-header {
  background: darkgoldenrod;
}

.navbar-brand {
  background: darkgoldenrod;
}
/* This CSS styles the icon in the navbar */
.beer {
  position: absolute;
  bottom: 5px;
  left: 50px;
  width: 35px;
  color: darkgoldenrod;
}

/* Adding styles to the aside and filter form */
.beer-form {
  margin-top: 50px;
}

.filters .panel-body {
  padding: 0; 
}

.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

#table-area th {
  text-align: center;
  background: darkgoldenrod;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .low {
  color: #ec8a2e;
}

.legend .empty {
  color: #a0353a;
}

.legend .coming-soon {
  color: #f4ba48;
}

.legend .healthy {
  color: #1b904f;
}

.legend .out-of-order {
  color: #007dff;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 550px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../img/brewery.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

#map-id {
  height : 600px;
  width : 1000px;
}

.beer_map {
  height: 225px;
  width: 300px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../img/beer_map.jpg");
  background-position: bottom center;
}

.hero h1 {
  margin-top: 200px;
  font-size: 0.1rem;
  color: white;
  animation: title 1.2s forwards; 
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  color:white;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 0.2s;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e979f;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e979f;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e979f;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #8e979f;
}

.ABVcontainer {
  width: 80%; /* Width of the outside container */
}

.ui-autocomplete {
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  overflow-x: auto;
  width: 375px;
  color:black;
  background-color: white;
    padding: 0px 0px 0px 10px;
}

.votescontainer {
  width: 80%; /* Width of the outside container */
}

.IBUcontainer {
  width: 80%; /* Width of the outside container */
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: darkgoldenrod;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: darkgoldenrod;
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }

  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
